
.about-container {
    padding: 4rem 1.5rem;
    max-width: 1290px;
    margin: 0 auto;
    justify-content: center;
  }
  
  .about-title {
    color: #257BFC;
    margin-bottom:15px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-family: 'Exo 2';
  }
  
  .about-content {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  
  .about-carousel {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .about-text {
    flex: 1;
    color: #767676;
    line-height: 1.6;
  }
  
  .about-text p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
  }
  
  .goal-highlight {
    color: #3182ce;
    font-weight: 600;
  }
@media (max-width: 768px) {
    .about-content {
      flex-direction: column;
    }
    .about-title{
      margin-top: 15%;}
    .about-carousel {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      padding: 0 1rem; 
    }
  
    .about-text {
      width: 100%;
      padding: 0 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .about-carousel {
      max-width: 100%; /* Повна ширина на дуже малих екранах */
      padding: 0; /* Видаляємо відступи */
    }
  }