/* Контейнер для заголовка */


/* Основний контейнер */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Контейнер для контенту */
.contentwrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Контейнер для карток */
.cardcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
}

/* Стилі для карток */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 3px solid #257BFC;
  width: 100%;
  max-width: 450px;
  min-height: 100px;
}

.card:hover {
  transform: scale(1.02);
}

.card-expanded {
  background-color: #fff;
  margin-bottom: 3%;
}

.card-collapsed {
  background-color: #fff;
  min-height: 100px;
  margin-bottom: 0%;
  gap: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3%;
}

/* Заголовок картки */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-icon img {
  width: 24px;
  height: 24px;
}

.card-title {
  font-size: 1.2rem;
  color: #444;
  margin: 0;
  flex-grow: 1;
}

/* Кнопка перемикання */
.card-toggle {
  transition: transform 0.3s;
}

.card-toggle img {
  width: 16px;
  height: 10px;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* Опис картки */
.description {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
  word-wrap: break-word;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}

.pictures {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 450px;
  align-items: center;
}

.pictures img {
  width: 100%;
  border-radius: 8px;
}

/* Медіа-запити для мобільних пристроїв */
@media (max-width: 768px) {
  .contentwrapper {
    flex-direction: column;
    align-items: center;
  }

  .cardcontainer {
    width: 100%;
    order: 2;
  }

  .pictures {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    order: 1;
  }

  .pictures img {
    width: 100%;
  }

  .pictures img:not(:nth-child(2)) {
    display: none;
  }

  .pictures img:nth-child(2) {
    max-width: 450px;
    margin-bottom: 5px;
  }
  .card-collapsed{
    padding: 15px;
  }
}
