.conclusion {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, #2563eb, #1e40af);
    position: relative;
    overflow: hidden;
  }
  
  .title {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .description {
    color: white;
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 2rem;
  }
  
  .conclusionbutton {
    background: white;
    color: #1e3a8a;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 15px;
    border: none;
    width: 65lvh;
    height: 10lvh;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
  }
  