.conclusion {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(180deg, #111A94, #257BFC);
  overflow: hidden;
}
.conclusioncontainer{
  z-index: 5;
}
.conclusionWave {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 400px;
  transform: scale(-1);
}

.title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: 'Exo 2';
}

.description {
  color: white;
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 2rem;
}

.conclusionbutton {
  background: white;
  color: #1e3a8a;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.conclusionbutton a {
  text-decoration: none;
}

.button:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .conclusionbutton {
    font-size: 2rem;
  }
  .conclusionWave {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .conclusionbutton {
    font-size: 1rem;
  }
  .title {
    max-width: 65%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    margin: 0 auto 20px;
    display: block;
  }
  .description {
    max-width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    margin: 0 auto 50px;
    font-size: 1rem;
  }
  .downballs {
    display: block;
    position: absolute;
    width: 420px;
    height: 400px;
    overflow: hidden;
    top: 27%;
    left: 0;
  }
  .downballsbig {
    display: none;
  }
}

@media (min-width: 481px) {
  .downballs {
    display: none;
  }
  .downballsbig {
    display: block;
    position: absolute;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    top: 27%;
    left: 0;
  }
}


.downballs{
  z-index: 1;
}
.downballsbig{
  z-index: 1;
}

.conclusionbutton{
  font-size: 3rem;
  border-radius: 30px;
 }
 .title{
  font-size: 2rem;
  margin-bottom: 5%;
 }
 .description{
  font-size: 1rem;
  margin-left:  10%;
  margin-bottom: 9%;
  max-width: 80%;
 }
