.footer {
    background-color: #111a94;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .logo img {
    height: 40px;
    width: auto;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .icon {
    font-size: 24px;
    color: white;
    transition: transform 0.3s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  .year {
    font-size: 20px;
    font-weight: bold;
  }
  
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
  
    .social-icons {
      justify-content: center;
    }
  }
  