/* components/CareerFairBanner.module.css */
.careerBanner {
  position: relative;
  background: linear-gradient(180deg, #257bfc, #111a94);
  color: white;
  padding: 4rem 0 0;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  /* width: 100%; Забираємо обмеження ширини */
  z-index: 5;
}

.content {
  position: relative;
  max-width: 1290px;
  min-height: 100%;/* Ширина на весь екран */
  margin: 0 auto;
  padding-bottom: 440px;
  padding-top: 100px;
  padding-left: 50px;
  z-index: 5;
}

.vectorSection {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 2px; /* Піднімаємо наполовину висоти */
}

.vectorImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
  border-radius: 0%;
  margin-top: 0;
  padding: calc(4rem - 30px) 0 -30px;
  position: absolute;
  bottom: -1px;
  height: 30%;
}

.title {
  font-size: 96px;
  font-family: "Exo 2";
  font-weight: 700;
}

.subtitle {
  font-size: 96px;

  font-family: "Exo 2";
  font-weight: 700;
  margin-bottom: 2rem;
}
.highlightText {
  font-size: 32px;
  margin-bottom: 2rem;
  color: #55a7ff;
}
.universities li {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  max-width: fit-content; /* або просто видаліть max-width */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; /* або 'nowrap' якщо хочете уникнути переносу слів */
}

.universities {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}
.bubbles {
  display: none;
}

@media (max-width: 768px) {
  .content {
    padding-bottom: 170px;
  }
  .vectorSection {
    height: 60px;
    margin-top: -35px;
  }
  .vectorImage{
    height: 200px;
  top:90%;
  background: linear-gradient(to top, #111A94 80%, transparent 20%);

  }

  .title {
    font-size: 65px;
  }
  .subtitle {
    font-size: 65px;
  }
  .highlightText {
    font-size: 25px;
  }

  .separator {
    height: 1px;
    width: 80%;
    background: #2a5dcf;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .content {
    padding-bottom: 50px;
  }

  .vectorSection {
    height: 50px;
    margin-top: -29px;
  }

  .title {
    font-size: 45px;
    align-self: flex-start;
  }
  .subtitle {
    font-size: 45px;
  }
  .sutitle {
    font-size: 45px;
  }
  .highlightText {
    font-size: 25px;
  }
}

.sideImage {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.sideImage:hover {
  transform: scale(1.1);
}
.containerhero{
  display: flex;
}
@media (max-width: 1024px) {
  .careerBanner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .universities {
    font-size: 80%;
    margin-bottom: 250px;
  }
  .imageContainer {
    position: static;
    flex-direction: row;
    gap: 10px;
    transform: none;
    justify-content: center;
    margin-top: 20px;
  }
.containerhero{
  display: flex;
  justify-content: center;
}
.content{
  padding-left: 0;
}
  .sideImage {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
  
  }

  .imageContainer {
    flex-direction: row;
    gap: 10px;
  }

  .careerBanner {
    height: 100%;
  }
  .sideImage {
    width: 120px;
  }

  .sideImage {
    width: 100px;
  }
  .containerhero{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .separator{
    display: none;
  }
}

.briefcase {
  width: 100%;
  height: 100%;
}
.imageContainer{
  position: absolute;
  width: 30%;
  right: 5%;
  top: 100px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .briefcase{
    display: none;
  }
}

@media (max-width: 768px) {
  .bubbles{
    position: absolute;
    display: block;
    width: 80vw; /* Робимо ширину рівною ширині вікна */
    height: 70vh; /* Робимо висоту рівною висоті вікна */
    overflow: hidden; /* Обрізаємо все, що виходить за межі */
    top: 15%;
    left: 90px;
  }
  

.uni {
  display: flex;
  align-items: center;
  gap:5px;
}
}

@media (max-width: 480px) {
  .briefcase{
    display: none;
  }
  .bubbles {
    position: absolute;
    display: block;
    width: 100vw; /* Робимо ширину рівною ширині вікна */
    height: 65vh; /* Робимо висоту рівною висоті вікна */
    overflow: hidden; /* Обрізаємо все, що виходить за межі */
    top: 15%;
    left: 0;
}

}



.uni {
  display: flex;
  align-items: center;
}

.universities {
  list-style: none;
  padding: 0;
  margin: 0;
}

.universities li:first-child {
  font-weight: 600;
  font-size: 1.2rem;
}

.universities li:last-child {
  font-size: 1.2rem;
}

.separator {
  height: 40px;
  width: 1px;
  background: #2a5dcf;
  margin: 0 1.5rem;
}

.ejfdate {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.location,
.calendar {
  flex-shrink: 0;
}
