@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-size: larger;
}

.packages-section {
  padding: 20px 0;
  padding-top: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #111a94, #1e65d0, #111a94);
  margin-bottom: 15%;
}
.package-wave-up{
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 300px;
  transform: scale(-1);
}
.package-wave-down{
  position: absolute;
  bottom: -1px;
  left: 0;
  margin-top: 100px;
  width: 100%;
  height: 250px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 300px;
}

.section-title {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 10%;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
  font-family: "Exo 2";
}

.section-subtitle {
  margin-bottom: 10%;
  color: #ffffff;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  width: 100%;
  font-family: "Exo 2";
}

.packages-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 900px;
}

.package-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.package-card.selected {
  background: linear-gradient(180deg, #fff, #a5caf9);
  border: 3px solid #111a94;
  border-radius: 15px;
}

.package-card:first-child {
  grid-column: span 2;
  width: 100%;
  max-width: 100%;
}
.packages-grid > .package-card:first-child {
  width: 50%;
  margin-left: 25%;
  background: #fff;
}
@media (max-width: 786px) {
  .packages-grid > .package-card:first-child {
    width: 100%;
    margin-left: 0%;
  }
  
.package-wave-up{
  height: 200px;
}
.package-wave-down{
  background: #111a94;
  height: 250px;
  top:96%
}
}

.package-card:nth-child(2),
.package-card:nth-child(3) {
  width: 100%;
  max-width: 100%;
}





.cart-total {
  font-size: 18px;
  font-weight: bold;
  color: #257bfc;
  margin-top: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 90%;
  overflow-y: auto;
  text-align: center;
  z-index: 1001;
}

.modal-content button {
  display: none;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  

  .section-title {
 
    margin-bottom: 10%;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
    width: 100%;
    font-family: "Exo 2";
  }

  .section-subtitle {
    font-size: 20px;
    margin-bottom: 10%;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
    width: 100%;
    font-family: "Exo 2";
  }

  .package-card {
    font-size: 16px;
    padding: 15px;
  }

 

  .cart-total {
    font-size: 16px;
  }

  .packages-grid {
    grid-template-columns: 1fr;
  }

  .package-card:first-child {
    grid-column: span 1;
  }
}


.additional-service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  max-width: 80%;
  border-radius: 10px;
  padding: 15px 20px;
  position: relative;
}

.additional-service-item i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #555;
  cursor: pointer;
}

.additional-service-item i:hover {
  color: #003366;
}

.additional-service-item .service-name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.additional-service-item .service-price {
  font-size: 18px;
  font-weight: bold;
  color: #257bfc;
  text-align: right;
}

.additional-service-item.selected {
  border: 2px solid #257bfc;
}

@media (max-width: 768px) {
  .additional-service-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .additional-service-item .service-price {
    margin-top: 10px;
    text-align: left;
  }

  .bigballs2 {
    position: absolute;
    align-self: start;
    width: 105%;
    height: 100%;
    overflow: visible;
  }

  .bigballs1 {
    display: none;
  }
}

.bigballs1 {
  position: absolute;
  width: 105%;
  height: 100%;
  overflow: visible;
  align-self: start;
  pointer-events: none;
}

.bigballs2 {
  display: none;
}
/* Основні стилі для кошика */

.cart-title {
  text-align: center;
  font-size: 50px;
  color: #1e73e6;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  margin: -20px -20px 20px -20px;
  font-family: "Exo 2";
}


.devider {
  width: 100%;
  height: 1px;
  color: #257bfc;
  background: #257bfc;
}



.total-amount {
  display: flex;
  align-items: center;
  gap: 10px;
}



.submit-button {
  background: #1e73e6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s ease;
}

.submit-button:hover {
  background: #1558b0;
}