.partners-section{
    max-width: 1290px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 0px;
}
.partners{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid #111A94;
    border-radius: 24px;
  
 
}

.partner{
    width: auto;
    height: auto;
    padding: 30px;
}
.ptitle{
    color: #257BFC;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-family: 'Exo 2';}
    @media (max-width: 768px) { 
        .ptitle {
            font-size: 3rem;
        }
        .partners {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        
            padding: 10px;
            overflow: hidden;

        }

        .partner {
            flex: 1 1 auto; /* Пропорційне масштабування */
            max-width: 30%; /* Змінюй це значення, якщо потрібно */
            height: auto;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .partner img {
            max-width: 100%;
            height: auto;
            object-fit: contain; /* Гарантує, що зображення вміщається повністю */
        }
    
        .partners-section {
            display: flex;
            flex-direction: column;
            align-items: center;
          
        
        }
    
        /* Відсуває наступний секцію вниз, якщо потрібно */
        .partners::after {
            content: "";
            display: block;
            width: 100%;
            height: 20px; /* Регулює відступ */
        }
    }
        
    @media (max-width: 480px) {
        .ptitle {
            font-size: 1.75rem;
        }
    }