.container {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
  }
  
  .title {
    margin-bottom: 10%;
    color: #257BFC;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Exo 2';
  }
  
  .grid {
    display: flex;
    justify-content: center;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Exo 2';
    align-items: end;
  }
  
  .card {
    color: #A5CAF9;
    font-weight: bold;
    border-radius: 24px;
    padding: 40px;
    text-align: center;
    align-items: center;
    background: linear-gradient(180deg, #257bfc, #111a94); /* Градієнт для всіх карток */
  }
  .infoButton {
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer;
  }
  
  
  .instcard {
    
    background: linear-gradient(180deg, #fff, #fff);
    color: #257bfc;
    border-radius: 24px;
    border: 3px  solid  #257bfc;
    padding: 40px;
    text-align: center;
    align-items: center;
  }
  .lilcard{
    background: linear-gradient(180deg, #fff, #fff);
    color: #767676;
    border-radius: 24px;
    border: 3px  solid  #257bfc;
    padding: 10px;
    font-size: small;
    text-align: left;
    align-items: center;
    width: 15%; /* Обмежуємо ширину на 80% */
    word-wrap: break-word;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .highlight {
    background-color: #0056b3; /* Для Instagram залишається окремий стиль */
    font-weight: bold;
  }
  
  .icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .followers {
    font-size: 1.25rem;
    margin: 0.25rem 0;
  }
  
  .name {
    font-size: 1rem;
    opacity: 0.9;
  }
  
 
  .infoButton:hover {
    background-color: #fff;
  }
  
  .infoModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .infoContent {
    text-align: left;
  }
  
  .infoContent h2 {
    margin-bottom: 1rem;
  }
  
  .infoContent ul {
    list-style: none;
    padding: 0;
  }
  
  .infoContent li {
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .container {
      padding-left: 5%;
      padding-right: 5%;
    }
  
    .title {
      font-size: 2rem;
      text-align: center;
    }
  
    .grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1px;
    }
  
    .card, .instcard {
      width: 100%;
      padding: 5px;
      border-radius: 16px;
      display: flex;
      text-align: left;
      margin-bottom: 3%;
      background: linear-gradient(180deg, #fff, #fff);
      border: 3px  solid  #257bfc;
    color: #257bfc;


    }
  
    .card img, .instcard img {
      width: 25px;
      height: 25px;
      margin: 20px;
    }
  
    .followers {
      font-size: 1.5rem;
    }
  
    .infoButton {
      margin-left: auto;
    }
  
    .lilcard {
      width: 60%;
      padding: 15px;
      font-size: 0.9rem;
      text-align: left;
      
    }
  }
  