@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: visible;
  background-attachment: scroll;
  z-index: 0;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}


.h2 {
  color: #257BFC;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-family: 'Exo 2';
}
.title {
  margin-top: 10%;
  color: #257BFC;
 margin-bottom:15px;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0px 15px 0;
  text-align: center;
  width: 100%;
  font-family: 'Exo 2';
}

.width-container{
  max-width: 1290px;
  margin: 0 auto;
}